.Slide {
  position: relative;
  height: 450px;
  background-image: linear-gradient(to bottom, #cdcdbf, #638291);
  border: 15px solid;
  border-bottom-width: 40px;
  border-image: linear-gradient(to bottom, #cdcdbf, #638291) 1;
}

@media screen and (max-width: 1024px) {
  .Slide {
    height: 300px;
  }
}

.Slide > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.Slide [data-type="caption"] {
  display: flex;
  /* padding: 15px; */
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: 100;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.Slide [data-type="caption"] p {
  /* padding: 10px 20px; */
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  transition: transform 0.425s cubic-bezier(0.05, 0.65, 0.1, 0.95),
    opacity 300ms ease-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media all and (max-width: 600px) {
  .Slide [data-type="caption"] p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media all and (max-width: 400px) {
  .Slide [data-type="caption"] p {
    font-size: 12px;
    line-height: 14px;
  }
}
